.justify-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 10px 20px;
    width: calc(100% - 40px);
    max-width: 600px;
    box-sizing: border-box;
}

label span {
    color: red;
}

h1 {
    margin: 0;
    color: #333;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

.form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.message.success {
    color: #28a745;
}

.message.error {
    color: #dc3545;
}

#word,
#translation,
textarea {
    font-size: 16px;
}

@media (max-width: 768px) {
    .justify-center {
        margin: 20px 0px;
    }
}

.form-group button {
    width: 100%;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #555;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.form-group select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.form-group select::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

@media (max-width: 768px) {
    .form-group select {
        font-size: 14px;
        padding: 8px;
    }
}
