.container {
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

footer {
    display: block;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fafafa;
}

.question p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#numWordsForm {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#numWordsForm div {
    display: flex;
    align-items: center;
    width: 47%;
    gap: 5px;
}

#numWordsForm select {
    width: 100%
}

.information-not-found {
    width: calc(100% - 20px);
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f8f9fa;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    color: #343a40;
    box-sizing: border-box;
}

.information-not-found i {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 20px;
}

.information-not-found p {
    font-size: 18px;
    color: #6c757d;
    margin: 10px 0;
}

.information-not-found a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
}

.information-not-found a:hover {
    background-color: #0056b3;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 4px;
}

.correct {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 4px;
}