footer {
    position: static !important;
    bottom: 0;
    width: 100%;
    background-color: #2f4f4f;
    color: #fff;
    padding: 20px 0px 15px 0px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container {
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    min-height: calc(100vh - 170px);
}

footer {
    position: static !important;
    display: block;
}

footer .footer {
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

footer p {
    margin: 7px 0;
    font-size: 16px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-size: 20px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

footer a:hover {
    color: #ff6347;
    transform: scale(1.1);
}

footer a i {
    vertical-align: middle;
    font-size: 19px;
}

@media (max-width: 768px) {
    footer {
        margin: 0 auto;
        padding: 11px 0px 7px 0px;
    }

    footer p {
        line-height: 1.5;
        margin: 3px 0px;
        font-size: 13px;
    }

    footer a i {
        font-size: 15px;
    }
}