body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    color: #343a40;
    text-align: center;
    margin-bottom: 30px;
}

.exercise,
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    background-color: #2f4f4f;
    color: #fff;
    padding: 15px 35px;
    margin: 7px 0;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    max-width: 350px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.link i {
    margin-right: 12px;
    font-size: 24px;
}

.link:hover {
    background-color: #ff6347;
    transform: translateY(-3px);
}


@media (max-width: 768px) {
    .link {
        font-size: 16px;
        padding: 15px 20px;
    }

    .container {
        width: calc(100% - 20px);
    }
}