body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0px;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: calc(100% - 40px);
    max-width: 450px;
    box-sizing: border-box;
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group .password-container {
    display: flex;
    align-items: center;
}

.form-group .password-container input {
    flex: 1;
    padding-right: 40px;
}

.form-group .password-toggle {
    position: absolute;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: transparent;
}

.form-group #submit {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 15px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group #submit:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
    margin-top: 15px;
}

.text-center a {
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

#email-message,
#username-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}