.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 20px 0px;
}

footer {
    position: relative !important;
    display: block;
}

.profile-form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: calc(100% - 40px);
    max-width: 450px;
    box-sizing: border-box;
}

.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    z-index: 1;
}

.profile-header .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.profile-header .profile-name {
    margin-left: 20px;
    font-size: 24px;
    color: #333;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.profile-form .form-label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.profile-form .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.profile-form .form-input[readonly] {
    background-color: #f9f9f9;
    cursor: not-allowed;
}

.profile-form .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.profile-form .submit-button:hover {
    background-color: #0056b3;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.password-input {
    width: 100%;
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.password-input:focus {
    border-color: #007bff;
    outline: none;
}

.password-toggle {
    position: absolute;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: transparent;
    color: #333;
}

.password-toggle:hover {
    color: #007bff;
}

.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-name {
    margin-left: 20px;
    font-size: 28px;
    color: #333;
}

@media (max-width: 350px) {
    .profile-header .profile-image {
        width: 90px;
        height: 90px;
    }

    .profile-header .profile-name {
        font-size: 22px;
    }
}

.custom-file-input {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-input input[type="file"] {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    z-index: 2;
}

.file-input-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.file-input-content i {
    font-size: 18px;
    color: #333;
}

.custom-file-input:hover .file-input-content {
    background-color: #f1f1f1;
}

.custom-file-input input[type="file"]:focus+.file-input-content {
    border-color: #007bff;
}